@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --accent-color: #007bff;
}

body,
html {
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Your Font", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(55 65 81) inset !important;
  -webkit-text-fill-color: white !important;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.card {
  background-color: rgb(8, 8, 8);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 0.5rem;
}

.card.card-shadow {
  -webkit-box-shadow: 0px 0px 24px -13px rgba(255, 252, 255, 1);
  -moz-box-shadow: 0px 0px 24px -13px rgba(255, 252, 255, 1);
  box-shadow: 0px 0px 24px -13px rgba(255, 252, 255, 1);
}

.card.card-border {
  border: 1px solid gray;
}

.card-title {
  color: white;
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  margin-bottom: 10px;
}

.modal-shadow {
  -webkit-box-shadow: 0px 0px 53px 4px rgba(89, 89, 89, 1);
  -moz-box-shadow: 0px 0px 53px 4px rgba(89, 89, 89, 1);
  box-shadow: 0px 0px 53px 4px rgba(89, 89, 89, 1);
}

.add-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: rgb(209, 3, 255);
  border-radius: 10px;
  color: white;
  min-width: fit-content;
}

.add-button:hover {
  background-color: rgb(221, 107, 247);
}

.edit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
  background: transparent;
  border: 1px solid rgb(0, 191, 255);
  border-radius: 0.3rem;
  color: white;
  min-width: fit-content;
}

.edit-button:hover {
  background-color: rgb(0, 191, 255);
}

.submit-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  background-color: rgb(10, 48, 216);
  border-radius: 10px;
  color: white;
  min-width: fit-content;
}

.submit-button.submitting {
  background-color: gray;
}

.delete-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
  background: transparent;
  border: 1px solid red;
  border-radius: 0.3rem;
  color: white;
  min-width: fit-content;
  font-size: 12px;
  font-weight: 300;
}

.delete-button:hover {
  background-color: red;
}

.delete-button.deleting {
  opacity: 0.5;
}

li {
  list-style: none;
}

@media (max-width: 768px) {
  .submit-button,
  .edit-button,
  .add-button {
    font-size: 12px;
  }

  .submit-button,
  .add-button {
    padding: 5px 10px;
  }

  .delete-button,.edit-button {
    font-size: 8px;
    padding: 3px 10px;
  }

  .card {
    padding: 10px;
  }

  .card-title {
    font-size: 14px;
  }
}
